<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.weipl.cordova_checkout" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>WEIPL_checkout</name>

    <asset src="www/WEIPL_checkout.js" target="js/WEIPL_checkout.js"/>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/WEIPL_checkout.js" target="js/WEIPL_checkout.js"/>

    <js-module name="WEIPL_checkout" src="www/WEIPL_checkout.js">
        <clobbers target="cordova.plugins.WEIPL_checkout" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="WEIPL_checkout">
                <param name="android-package" value="com.weipl.cordova_checkout.WEIPL_checkout" />
                <param name="onload" value="true" />
            </feature>
            <preference name="android-targetSdkVersion" value="31" />
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/WEIPL_checkout.java" target-dir="src/com/weipl/cordova_checkout" />

        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference" />
        <lib-file src="src/android/weipl_checkout.aar" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="WEIPL_checkout">
                <param name="ios-package" value="WEIPL_checkout" />
            </feature>
            <preference name="deployment-target" value="12.0" />
        </config-file>

        <source-file src="src/ios/WEIPL_checkout-Bridging-Header.h" />
        <source-file src="src/ios/WEIPL_checkout.swift" />

        <source-file src="src/ios/Paynimo_JS.framework" target-dir="lib" framework="true" />
        <framework src="src/ios/Paynimo_JS.framework" embed="true" custom="true" />
        <!-- TODO: Need to check feasibility for above lines in ios because one of linked SDK showing as highlighter in x-code -->

        <framework src="SystemConfiguration.framework" />
        <framework src="CFNetwork.framework" />
    </platform>
</plugin>